{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center py-5">Vraag 1: isdff fwejfbnwe fweiuffweinwe. kjnbdkfwkrj?</div>
        </div>

        <div class="row">
            <div style="background-color: #1368CE; color: #fff;" class="col-md-6 text-center p-4">{{ vraag_a }}</div>
            <div style="background-color: #E21B3C; color: #fff;" class="col-md-6 text-center p-4">{{ vraag_b }}</div>
        </div>
        <div class="row">
            <div style="background-color: #26890C; color: #fff;" class="col-md-6 text-center p-4">{{ vraag_b }}</div>
            <div style="background-color: #d09f36; color: #fff;" class="col-md-6 text-center p-4">{{ vraag_d }}</div>
        </div>
    </div>
{% endblock %}
