{% extends 'base.html.twig' %}

{% block title %}De quizzz!{% endblock %}

{% block body %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<script>
    $.ajax()
</script>

<section class="pt-5 pb-5 bg-dark inner-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-0 mb-3 text-white">API quizzz</h1>
            </div>
        </div>
    </div>
</section>
    <footer class="footer mt-auto py-3">
        <div class="container">

        </div>
    </footer>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center py-5">Vraag 1: isdff fwejfbnwe fweiuffweinwe. kjnbdkfwkrj?</div>
    </div>

    <div class="row">
        <div style="background-color: #1368CE; color: #fff;" class="col-md-6 text-center p-4">A</div>
        <div style="background-color: #E21B3C; color: #fff;" class="col-md-6 text-center p-4">B</div>
    </div>
    <div class="row">
        <div style="background-color: #26890C; color: #fff;" class="col-md-6 text-center p-4">C</div>
        <div style="background-color: #d09f36; color: #fff;" class="col-md-6 text-center p-4">D</div>
    </div>
</div>


{% endblock %}
